
@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

:root {
    --pastel-blue: #6dcaff;
    --pastel-green: #a0d4d6;
    --pastel-orange: #ffac79;
    --pastel-red: #f48181;
    --heading: #32333c;
    --paragraph: #8a8fa3;
    --background: #FBFBFB;
}

/* Generic */
* {
    margin: 0;
    line-height: 1.5;
    font-family: roboto;
}

html {
    scroll-behavior: smooth;
}

h1, h2 {
    color: var(--heading);
}

h2 {
    position: relative;
    display: inline;
    font-size: 45px;
}
h2::after {
    content: "";
    width: 50%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--pastel-blue);
}

p {
    color: var(--paragraph);
    font-size: 16px;
}

span {
    color: black;
}

section {
    width: 80%;
    margin: auto;
}

/* Buttons */
a.button {
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid var(--pastel-blue);
    font-size: 16px;
    transition: color 250ms, background-color 250ms;
    text-decoration: none;
}
a.button:hover {
    cursor: pointer;
}
a.button:visited, a.button:active {
    text-decoration: none;
}

.button-fill {
    color: white;
    background-color: var(--pastel-blue);
}
.button-fill:hover {
    color: var(--pastel-blue);
    background-color: white;
}

.button-outline {
    color: var(--pastel-blue);
    background-color: white;
    margin-left: 15px;
}
.button-outline:hover {
    color: white;
    background-color: var(--pastel-blue);
}

/* Navbar */
.navbar {
    font-family: poppins;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-menu {
    display: flex;
    gap: 25px;
}

.navbar-menu-item {
    list-style: none;
}

.navbar-link {
    text-decoration: none;
    color: black;
    position: relative;
    transition: color 250ms;
}
.navbar-link:hover {
    color: var(--pastel-blue);
}
.navbar-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--pastel-blue);
    transition: width 250ms;
}
.navbar-link:hover::after {
    width: 100%;
}

/* Intro Section */
.intro-section {
    width: 80%;
    padding: 0 10%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--background);
}

.intro-heading-container {
    display: static;
}

.intro-heading {
    font-size: 55px;
    font-weight: bold;
}
.intro-text {
    font-size: 30px;
    margin-bottom: 50px;
}

/* About Me Section */
.about-me-section {
    padding: 100px 0;
}

.about-me-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.about-me-text {
    margin-bottom: 50px;
}

/* Services Section */
.services-section {
    width: 80%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding: 100px 10%;
    justify-content: center;
    text-align: center;
}
.services-section p {
    width: 50%;
    margin: 20px auto;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 50px;
}

.services-card {
    padding: 20px;
    color: white;
    border-radius: 2px;
    text-align: left;
    position: relative;
    background-image: url("../images/web-development.jpg");
}